### Model Inference

In [1]:
# Import Libraries

import pickle
import json
import pandas as pd
import numpy as np

##### Load Files

In [2]:
# Load Files

with open('1. list_num_cols.txt', 'r') as file_1:
    list_cat_cols = json.load(file_1)

with open('2. list_cat_cols.txt', 'r') as file_2:
    list_num_cols = json.load(file_2)

with open('3. scaler.pkl', 'rb') as file_3:
    encoder = pickle.load(file_3)

with open('4. encoder.pkl', 'rb') as file_4:
    scaler = pickle.load(file_4)

with open('5. model_lin_reg.pkl', 'rb') as file_5:
    model_lin_reg = pickle.load(file_5)

##### Inferencing

In [3]:
# Create new data
data_inf = {
    'distance': 5.5,
    'surge_multiplier': 1.5,
    'source': 'Financial District',
    'destination': 'Fenway',
    'cab_type': 'Uber',
    'product_id': 'lyft_luxsuv'	
}

data_inf = pd.DataFrame([data_inf])
data_inf

,distance,surge_multiplier,source,destination,cab_type,product_id
0,5.5,1.5,Financial District,Fenway,Uber,lyft_luxsuv

In [4]:
# Split between categorical and numerical
data_inf_num = data_inf[list_num_cols]
data_inf_cat = data_inf[list_cat_cols]

# Display data
data_inf_num

               source destination cab_type   product_id
0  Financial District      Fenway     Uber  lyft_luxsuv

In [5]:
# Feature Scaling and Encoding
data_inf_scaled = scaler.transform(data_inf_num)
data_inf_encoded = encoder.transform(data_inf_cat)
data_inf_final = np.concatenate([data_inf_scaled, data_inf_encoded], axis=1)

# Display data
data_inf_final

array([[0.        , 0.        , 0.        , 1.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 1.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 1.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 1.        , 0.        , 0.        , 2.99209645,
        9.94895592]])

In [6]:
# Predict using linear regression
y_pred_inf = model_lin_reg.predict(data_inf_final)
y_pred_inf

c:\Users\hp\.conda\envs\iznia\Lib\site-packages\sklearn\base.py:493: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([-2.06703291e+12])